<div id="grad" class="center-screen">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <p-panel header="Iniciar Sesion">
          <div class="field p-fluid mt-4">
            <input pInputText type="text" placeholder="Usuario" formControlName="user" class="form-control w-full mb-3"
              name="user">

            <div [hidden]="loginForm.controls['user'].valid || !loginForm.controls['user'].dirty">
              <small id="username-help" class="p-error">Ingrese su usuario.</small>
            </div>
          </div>
          <div class="field p-fluid mt-4">
            <input pInputText type="password" placeholder="Contraseña" formControlName="password"
              class="form-control w-full mb-3" name="password">
            <small id="password-help" class="p-error"
              [hidden]="loginForm.controls['password'].valid || !loginForm.controls['password'].dirty">Ingrese su
              contraseña.</small>
          </div>
          <div>
            <button pButton type="submit" label="Ingresar" class="w-full" [disabled]="!loginForm.valid"></button>
          </div>
        </p-panel>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>