<h2>
    Proyecto Final - Aplicación para la asignación la tripulación en la aerolínea Vuela Alto
</h2>
<br>
<p>
    La aerolínea <strong><i>Vuela Alto</i></strong>, en el marco de la mejora contínua y en la entrega de valor para sus
    clientes,
    quiere
    desarrollar una aplicación que esté orientada a <b><em>gestionar la asignación de pilotos y tripulación a los
    diferentes vuelos que la empresa maneja</em></b>. Esto con el fin de optimizar la gestión del recurso humano de la
    aerolínea y minimizar
    al máximo posibles incidentes con la asignación de personal en los vuelos de sus clientes.
</p>
<br>
<p>En esta <b><em>primera versión de la aplicación</em></b>, se ofrecen las siguientes funcionalidades:</p>
<ul>
    <li>
        <p>Listado de Usuarios</p>
    </li>
    <li>
        <p>Creación, edición y eliminación de Usuarios</p>
    </li>
    <li>
        <p>Listado de auditoría</p>
    </li>
    <li>
        <p>Auditoría sobre operaciones (Crear Usuario)</p>
    </li>
</ul>