#grad {
    background-image: linear-gradient(to bottom right, rgb(39, 185, 221), rgb(0, 128, 38));
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}