/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeflex/primeflex.css';
@import "primeicons/primeicons.css";

@import url('https://primefaces.org/primeng/showcase/resources/primeicons/primeicons.css');

/* Aplica la fuente a los títulos y párrafos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', sans-serif;
    /* Ajusta la fuente según sea necesario */
}

html,
body {
    margin: 0;
    height: 100%;
}